*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calculette {
    border: 2px solid black;
    padding: 2rem;
    background-color: cadetblue;
}

.haut {
    border: 2px solid red;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 40px);
    margin-top: 1rem;
}

button  {
    background-color: rgb(73, 73, 245);
    color: white;
    border-radius: 6px;
}

.grid2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 30px);
    margin-top: 0.5rem;
}
