body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calculette {
    border: 2px solid black;
    background-color: cadetblue;
}

.interface {
    width: 15vw;
    height: 15vh;
}

.ensemble {
    display: flex;
    text-align: center;
}

h1 {
    margin: 1rem;
    color: white;
}

p{
    margin: 1rem;
    margin-top: 1.5rem;
    width: 3.5rem;
    color: white;
}

.rectangle {
    border: 2px solid black;
    height: 3vh;
    width: 6vw;
    margin: 1rem;
    margin-left: -0.3rem;
    background-color: black;
}

form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.second_partie {
    margin: 1.5rem;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 40px);
    margin-top: 1rem;
}

button  {
    background-color: rgb(73, 73, 245);
    color: white;
    border-radius: 6px;
}

.grid2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 30px);
    margin-top: 0.5rem;
}